[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DSOpal"]
	path = DSOpal
	url = https://github.com/datashield/dsopal
	shallow = true
	registered = true
