[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DSI"]
	path = DSI
	url = https://github.com/datashield/dsi
[submodule "DSLite"]
	path = DSLite
	url = https://github.com/datashield/dslite
[submodule "DSOpal"]
	path = DSOpal
	url = https://github.com/datashield/dsopal
